:root {
  --bg: #4c4b49;
  --dark: #282724;
  --light: #f8e1a0;
  --accent: #f48506;
  --accent2: #027f7f;
  --light2: #fff;
  --acc2-25: #025f5f;
  --shadow: #181818;
}


body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  background-color: var(--bg);
}

.header {
  text-align: center;
  background-color: var(--dark);
  border-bottom: 8px solid var(--accent2);
  box-shadow: var(--shadow) 5px 5px 15px;
}

.custom-text1 {
  font-weight: 700;
  color: var(--accent2);
  text-shadow: var(--shadow) 1px 1px 5px;
}

.custom-text2 {
  font-weight: 300;
  font-style: italic;
  color: var(--light2);
  text-shadow: var(--shadow) 1px 1px 5px;
}

.custom-text3 {
  color: var(--light2);
  font-weight: 400;
  font-size: 1.5em;
  text-shadow: var(--shadow) 1px 1px 2px;
}

textarea {
  background: var(--light2);
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.time-block {
  border-radius: 15px;
  box-shadow: var(--shadow) 5px 5px 5px;
}

.row {
  margin-bottom: 8px;
}

.hour {
  background-color: var(--dark);
  color: var(--light2);
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  border-right: 2px solid var(--white);
  position: relative;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-radius: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--accent2);
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
